version: '2'
services:
    jenkinsapp-app:
        image: jenkinsapp
        environment:
            # - _JAVA_OPTIONS=-Xmx512m -Xms256m
            - SPRING_PROFILES_ACTIVE=prod,swagger
            - SPRING_DATASOURCE_URL=jdbc:mysql://jenkinsapp-mysql:3306/jenkinsapp?useUnicode=true&characterEncoding=utf8&useSSL=false
            - JHIPSTER_SLEEP=10 # gives time for the database to boot before the application
        ports:
            - 8181:8181
    jenkinsapp-mysql:
        extends:
            file: mysql.yml
            service: jenkinsapp-mysql
